DATABASE_URL="postgresql://user:password@localhost:5432/ecotech_db?schema=public"
DB_NAME=ecotech
PORT=3000

NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion